html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  margin: 0 auto;
}

/* HEADER */

.header-size {
  padding: 36px 0 58px;
  width: 1110px;
  margin: 0 auto;
}

.logo {
  display: block;
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #555252;
  font-weight: 300;
  float: left;
  text-decoration: none;
}

.logo:first-letter {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #1abc9c;
  font-weight: bold;
}

.menu {
  display: block;
  width: 466px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  list-style: none;
  font-size: 0px;
  float: right;
  margin-top: 10px;
}

.menu li {
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -0.22px;
  float: left;
}

.menu li:not(:last-child) {
  margin-right: 34px;
}

.menu a {
  text-decoration: none;
  color: #0f0101;
  text-transform: uppercase;
}

.menu-light:focus,
.menu-light:hover {
  color: #1abc9c;
}

/* OFFER */

.offer {
  width: 100%;
  object-fit: cover;
  min-height: 600px;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.52),
      rgb(0, 0, 0, 0.52)
    ),
    url(../photo/offer.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.offer-text-head {
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 82px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: -1.64px;
}

.offer-text-unhead {
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 54px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 1.08px;
}

.text-position {
  display: block;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
}

.slider-button {
  width: 104px;
  height: 104px;
  background-color: #1abc9c;
  color: #fff;
  border: 0;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  cursor: pointer;
}

.next {
  background-image: url(../photo/icon/arrow-right.jpg);
  display: inline-block;
  position: absolute;
  padding: 0;
  top: 37.5%;
  right: 15.3125%;
}

.next:hover {
  opacity: 0.8;
}

.prev {
  background-image: url(../photo/icon/arrow-left.jpg);
  display: inline-block;
  position: absolute;
  padding: 0;
  top: 37.5%;
  left: 15.3125%;
}

.prev:hover {
  opacity: 0.8;
}

/* MAIN */

/* PRODUCTS */

.headline {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 48px;
  line-height: 32px;
  color: #515151;
  margin-bottom: 82px;
  text-transform: uppercase;
  letter-spacing: -0.64px;
}

.headline::after {
  content: "";
  display: block;
  width: 164px;
  height: 7px;
  margin: 40px auto 0;
  background-color: #1abc9c;
}

.product-place-wrapper {
  margin: 0 auto;
  padding: 110px 0 100px;
  background-color: #e9f0fd;
}

.products-content {
  list-style: none;
  width: 1110px;
  margin: 0 auto;
}

.products-content .card {
  display: block;
  width: 255px;
  margin-right: 30px;
  background: #e9f0fd;
  float: left;
}

.products-content .card:nth-child(4n + 4) {
  margin-right: 0;
}

.products-picture {
  widows: 255px;
  height: 282px;
}

.card {
  position: relative;
}

.buy-window {
  width: 255px;
  height: 282px;
  background: rgb(0, 0, 0, 0);
  border-width: 10px;
  border-color: rgb(255, 255, 255, 0);
  border-style: solid;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.buy-window-position {
  vertical-align: middle;
}

.icon-item {
  border: 1px #fff solid;
  background-color: transparent;
  width: 50px;
  height: 50px;
  margin-bottom: 7px;
  cursor: pointer;
}

.icon-item-cart {
  border: 1px #fff solid;
  background-color: transparent;
  width: 166px;
  height: 50px;
  background: #323232;
  cursor: pointer;
}

.buy-window .icon-item:hover {
  background-color: rgb(26, 188, 156, 1);
  border: 1px transparent solid;
}

.icon-item-cart:hover {
  background-color: rgb(26, 188, 156, 1);
  border: 1px transparent solid;
}

.buy-window .heart-icon {
  width: 26px;
  height: 23px;
}

.buy-window .line-icon {
  width: 26px;
  height: 22px;
}

.buy-window .clock-icon {
  width: 24px;
  height: 24px;
}

.buy-window .cart-icon {
  width: 28px;
  height: 27px;
  float: left;
  margin-top: 2px;
}

.card-text {
  font-family: "OpenSans" serif;
  display: block;
  float: right;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 32px;
  color: #fff;
  padding-right: 16px;
}

.card:hover .buy-window {
  border-color: rgb(255, 255, 255);
  background: rgb(0, 0, 0, 0.569);
  opacity: 1;
}

.price-wrapper {
  color: #fff;
  text-transform: uppercase;
}

.product {
  text-decoration: none;
}

.product-name {
  font-size: 18px;
  line-height: 32px;
  width: 200px;
  float: left;
  padding: 5px 12px 5px 12px;
  background-color: #323232;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.price {
  font-size: 18px;
  line-height: 32px;
  width: 55px;
  float: left;
  padding: 5px 14px 5px 12px;
  background-color: #8c8c8c;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.card:hover .product-name {
  background-color: #1abc9c;
}

.card:hover .price {
  background-color: #7fd9c7;
}

.buy-window__menu {
  width: 255px;
  height: 282px;
  display: block;
  padding: 78px 34px 0;
}

.buy-window__item {
  float: left;
}

.buy-window__item:nth-child(-n+2) {
  margin-right: 8px;
}

.icon {
  margin: 0 auto;
}

.cart-icon {
  margin: 0 auto;
}

/* FOOTER */

.footer-wrapper {
  height: 88px;
  font-size: 16px;
  line-height: 28px;
  background-color: #323232;
  padding: 34px 0;
  color: #fff;
  text-align: center;
}

.designer-signature {
  text-decoration: none;
  color: #fff;
}

.designer-signature:hover {
  color: #1abc9c;
}