html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.wrapper {
  width: 1110px;
  margin: 0 auto;
  background-color: #fff;
}

/* HEADER */

.header-size {
  padding-top: 36px;
  margin-bottom: 58px;
}

.logo {
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #555252;
  font-weight: 300;
  float: left;
  text-decoration: none;
}

.logo:first-letter {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #1abc9c;
  font-weight: bold;
}

.menu {
  width: 466px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  list-style: none;
  font-size: 0px;
  float: right;
  margin-top: 10px;
}

.menu li {
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -0.22px;
  float: left;
}

.menu li:not(:last-child) {
  margin-right: 34px;
}

.menu a {
  text-decoration: none;
  color: #0f0101;
  text-transform: uppercase;
}

.menu-light:focus,
.menu-light:hover {
  color: #1abc9c;
}

/* OFFER */

.offer {
  width: 100%;
  object-fit: cover;
  min-height: 600px;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.52),
      rgb(0, 0, 0, 0.52)
    ),
    url(../photo/offer.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.offer-text-head {
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 82px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: -1.64px;
}

.offer-text-unhead {
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 54px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 1.08px;
}

.text-position {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
}

.slider-button {
  width: 104px;
  height: 104px;
  background-color: #1abc9c;
  color: #fff;
  border: 0;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  cursor: pointer;
}

.next {
  display: inline-block;
  position: absolute;
  padding: 0;
  top: 37.5%;
  right: 15.3125%;
}

.prev {
  display: inline-block;
  position: absolute;
  padding: 0;
  top: 37.5%;
  left: 15.3125%;
}

/* MAIN */

/* PRODUCTS */

.headline {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 48px;
  line-height: 32px;
  color: #515151;
  margin-bottom: 82px;
  text-transform: uppercase;
  letter-spacing: -0.64px;
}

.headline::after {
  content: "";
  display: block;
  width: 164px;
  height: 7px;
  margin: 40px auto 0;
  background-color: #1abc9c;
}

.product-place-wrapper {
  margin: 0 auto;
  padding: 110px 0 70px;
  background-color: #e9f0fd;
}

.products-content {
  list-style: none;
  width: 1110px;
  margin: 0 auto;
}

.products-content .card {
  display: block;
  width: 255px;
  margin: 0 30px 30px 0;
  background: #e9f0fd;
  float: left;
}

.products-content .card:nth-child(4n + 4) {
  margin-right: 0;
}

.products-picture {
  widows: 255px;
  height: 282px;
}

.card {
  position: relative;
}

.buy-window {
  width: 255px;
  height: 282px;
  background: rgb(0, 0, 0, 0);
  border-width: 10px;
  border-color: rgb(255, 255, 255, 0);
  border-style: solid;
  position: absolute;
  top: 0;
  left: 0;
}

.icon-item {
  border: 1px #fff solid;
  background-color: transparent;
  width: 50px;
  height: 50px;
  margin-bottom: 7px;
  cursor: pointer;
}

.icon-item-cart {
  border: 1px #fff solid;
  background-color: transparent;
  width: 166px;
  height: 50px;
  background: #323232;
  cursor: pointer;
}

.buy-window .icon-item:hover {
  background-color: rgb(26, 188, 156, 1);
  border: 1px transparent solid;
}

.icon-item-cart:hover {
  background-color: rgb(26, 188, 156, 1);
  border: 1px transparent solid;
}

.buy-window .heart-icon {
  width: 26px;
  height: 23px;
}

.buy-window .line-icon {
  width: 26px;
  height: 22px;
}

.buy-window .clock-icon {
  width: 24px;
  height: 24px;
}

.buy-window .cart-icon {
  width: 28px;
  height: 27px;
  float: left;
  margin-top: 2px;
}

.card-text {
  font-family: "OpenSans" serif;
  display: block;
  float: right;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 32px;
  color: #fff;
  padding-right: 16px;
}

.card:hover .buy-window {
  border-color: rgb(255, 255, 255);
  background: rgb(0, 0, 0, 0.569);
}

.price-wrapper {
  color: #fff;
  text-transform: uppercase;
}

.product {
  text-decoration: none;
}

.product-name {
  font-size: 18px;
  line-height: 32px;
  width: 200px;
  float: left;
  padding: 5px 12px 5px 12px;
  background-color: #323232;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.price {
  font-size: 18px;
  line-height: 32px;
  width: 55px;
  float: left;
  padding: 5px 14px 5px 12px;
  background-color: #8c8c8c;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.card:hover .product-name {
  background-color: #1abc9c;
}

.card:hover .price {
  background-color: #7fd9c7;
}

/* FOOTER */

.footer-wrapper {
  height: 88px;
  font-size: 16px;
  line-height: 28px;
  background-color: #323232;
  padding: 34px 0;
  color: #fff;
  text-align: center;
}

.designer-signature {
  text-decoration: none;
  color: #fff;
}

.designer-signature:hover {
  color: #1abc9c;
}


.ITEM_2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 1455px;
  z-index: 45;
}
.Group_2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 1455px;
  z-index: 44;
}
.HOVER {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 1455px;
  z-index: 43;
}
.BUTTON_copy_3 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 1455px;
  z-index: 42;
}
.add_to_cart {
  font-size: 14px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2.286;
  text-align: center;
  position: absolute;
  left: 617.39px;
  top: 1142.25px;
  width: 87px;
  height: 10px;
  z-index: 41;
}
. {
  font-size: 30px;
  font-family: "Pe";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.067;
  position: absolute;
  left: 587.448px;
  top: 1130.828px;
  width: 28px;
  height: 27px;
  z-index: 40;
}
.Rectangle_53 {
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  background-color: rgb(50, 50, 50);
  position: absolute;
  left: 575px;
  top: 1092px;
  width: 164px;
  height: 48px;
  z-index: 39;
}
.BUTTON_copy_2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 1455px;
  z-index: 37;
}
. {
  font-size: 30px;
  font-family: "Pe";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.067;
  position: absolute;
  left: 703.448px;
  top: 1075.828px;
  width: 24px;
  height: 25px;
  z-index: 36;
}
.Rectangle_53 {
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  position: absolute;
  left: 691px;
  top: 1035px;
  width: 48px;
  height: 48px;
  z-index: 35;
}
.BUTTON_copy {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 1455px;
  z-index: 33;
}
. {
  font-size: 30px;
  font-family: "Pe";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.067;
  position: absolute;
  left: 645.448px;
  top: 1077.828px;
  width: 26px;
  height: 22px;
  z-index: 32;
}
.Rectangle_53 {
  border-width: 1px;
  border-color: rgb(26, 188, 156);
  border-style: solid;
  background-color: rgb(26, 188, 156);
  position: absolute;
  left: 634px;
  top: 1035px;
  width: 48px;
  height: 48px;
  z-index: 31;
}
.BUTTON {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 1455px;
  z-index: 29;
}
. {
  font-size: 30px;
  font-family: "Pe";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.067;
  position: absolute;
  left: 586.448px;
  top: 1076.828px;
  width: 26px;
  height: 23px;
  z-index: 28;
}
.Rectangle_53 {
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  position: absolute;
  left: 575px;
  top: 1035px;
  width: 48px;
  height: 48px;
  z-index: 27;
}
.Rectangle_50_copy {
  border-width: 10px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  background-color: rgb(0, 0, 0);
  opacity: 0.549;
  position: absolute;
  left: 530px;
  top: 946px;
  width: 235px;
  height: 261px;
  z-index: 25;
}
._31 {
  font-size: 18px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.778;
  text-align: center;
  position: absolute;
  left: 728.263px;
  top: 1268.618px;
  width: 27px;
  height: 17px;
  z-index: 22;
}
.Rectangle_52 {
  background-color: rgb(255, 255, 255);
  opacity: 0.439;
  position: absolute;
  left: 731px;
  top: 1227px;
  width: 54px;
  height: 40px;
  z-index: 21;
}
.WOMAN_shirt {
  font-size: 18px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.778;
  text-align: left;
  position: absolute;
  left: 542.909px;
  top: 1270.908px;
  width: 122px;
  height: 13px;
  z-index: 20;
}
.Rectangle_51 {
  background-color: rgb(26, 188, 156);
  position: absolute;
  left: 530px;
  top: 1227px;
  width: 255px;
  height: 40px;
  z-index: 19;
}
.Rectangle_50 {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 530px;
  top: 945px;
  width: 255px;
  height: 322px;
  z-index: 17;
}

